h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 700;
    line-height: 1.5;
}
h1{
    font-size: 190%;
}
h2{
    font-size: 180%;
}
h3{
    font-size: 170%;
}
h4{
    font-size: 160%;
}
h5{
    font-size: 150%;
}
h6{
    font-size: 140%;
}
a,p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 110%;
    font-weight: 50;
    line-height: inherit;
}
label{
    border: 0;
    font-size: 80%;
    font-weight: 50;
    line-height: inherit;
}
input{
    font-size: 87%;
    font-weight: inherit;
    line-height: inherit;
}
textarea{
    font-weight: inherit;
    line-height: inherit;
}