.logo-apresentacao{
    width: 45px;
    z-index: 5;
}
.nav-apresentacao{
    padding: 15px;
    width: 100%;
    vertical-align: center;
    align-items: center;
    z-index: 10;
    position: fixed;
    background-color: rgba(248, 248, 255, 0.95);
}
.espaco-menu{
    width: 96%;
    margin: 0 auto;
}
.btn-comece-topo{
    width: 140px;
    height: 30px;
    box-shadow: none;
    font-size: 80%;
}
.mulher-tablet{
    width: 100%;
    position: fixed;
    z-index: 0;
    height: 100vh;
}
.texto-topo{
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 50px;
}
.texto-topo h1{
    color: white;
    font-size: 400%;
}
.texto-topo p{
    color: white;
    font-size: 87%;
}
.btn-contactar{
    position: relative;
    top: 600px;
    left: 50px;
    width: 160px;
    height: 40px;
    box-shadow: none;
    background-color: #565656;
    border: none;
    color: white;
}
.btn-contactar:hover{
    background-color: #414141;
}
/*[data-anime]{*/
/*    opacity: 1;*/
/*    transition: .3s;*/
/*}*/
/*[data-anime='top']{*/
/*    transform: translate3d(0, 10px, 0);*/
/*}*/
/*[data-anime].animate{*/
/*    opacity: 1;*/
/*    transform: translate3d(0, 10px, 0);*/

/*}*/
/*.vertical{*/
/*    height: 150vh;*/
/*}*/